{{- define "RenderInputValidation"}}
    {{- $belongs := index . 0}}
    {{- $operation := index . 1}}
    {{- $request := $operation.Request}}
    {{- $customizedTypes := index . 2}}
    {{$opID := replace $operation.ID "Bucket" "" -1}}
    {{- if ne $belongs "QingStor"}}
    {{$opID | camelCase | lowerFirst}}Validate(operation){
    {{- end}}
    {{- if eq $belongs "QingStor"}}
    {{$operation.ID | camelCase | lowerFirst}}Validate(operation){
    {{- end}}
    {{- $i := passThrough "operation['params']" $request.Query $customizedTypes}}
    {{- template "RenderCustomizedTypeValidation" $i}}
    {{- if ne $operation.Name "Delete Multiple Objects"}}
    {{- $i := passThrough "operation['headers']" $request.Headers $customizedTypes}}
    {{- template "RenderCustomizedTypeValidation" $i}}
    {{- end}}
    {{- $i := passThrough "operation['elements']" $request.Elements $customizedTypes}}
    {{- template "RenderCustomizedTypeValidation" $i}}
    }
{{- end}}


{{- define "RenderCustomizedTypeValidation"}}
    {{- $prefix := index . 0}}
    {{- $customizedType := index . 1}}
    {{- $customizedTypes := index . 2}}

    {{- range $_, $property := $customizedType.Properties}}
        {{- if eq $property.Type "object"}}
        if({{$prefix}}.hasOwnProperty('{{$property.ID}}')){
        {{- $nextPrefix := printf "%s[\"%s\"]" $prefix $property.ID}}
        {{- $nextCustomizedType := index $customizedTypes $property.ExtraType}}
        {{- $x := passThrough $nextPrefix $nextCustomizedType $customizedTypes}}
        {{- template "RenderCustomizedTypeValidation" $x}}
        }
        {{- if $property.IsRequired }}
        if({{$prefix}} === undefined || {{$prefix}}.toString() === '') {
            throw new SDKError.ParameterRequired('{{$property.ID}}', '{{$customizedType.ID}}');
        }
    {{- end}}
    {{- else if eq $property.Type "array"}}
        {{- if $property.IsRequired}}
        if ({{$prefix}} === undefined || {{$prefix}}['{{$property.ID}}'] === undefined || {{$prefix}}['{{$property.ID}}'].toString() === '') {
            throw new SDKError.ParameterRequired('{{$property.ID}}', '{{$customizedType.ID}}');
        }
    {{- end}}
    {{- $isNotString := ne $property.ExtraType "string"}}
    {{- $isNotInteger := ne $property.ExtraType "integer"}}
    {{- $isNotTimestamp := ne $property.ExtraType "timestamp"}}
    {{- if and $isNotString $isNotInteger $isNotTimestamp}}
    {{$prefix}}['{{$property.ID}}'].forEach(function (value) {
        {{- $nextCustomizedType := index $customizedTypes $property.ExtraType}}
        {{- $i := passThrough "value" $nextCustomizedType $customizedTypes}}
        {{- template "RenderCustomizedTypeValidation" $i}}
    });
    {{- end}}
    {{- else}}
    {{- $isContentLength := eq $property.ID "Content-Length"}}
    {{- if not $isContentLength}}
    {{- if $property.IsRequired}}
    if({{$prefix}} === undefined || {{$prefix}}['{{$property.ID}}'] === undefined || {{$prefix}}['{{$property.ID}}'].toString() === ''){
        throw new SDKError.ParameterRequired('{{$property.ID}}', '{{$customizedType.ID}}');
    }
    {{- end}}
    {{- if gt ($property.Enum | len) 0}}
    if({{$prefix}} !== undefined && {{$prefix}}['{{$property.ID}}'] !== undefined && {{$prefix}}['{{$property.ID}}'].toString() !== ''){
        let {{$property.ID | snakeCase}}_valid_values = [{{$property.Enum | commaConnectedWithQuote}}];
        if({{$property.ID | snakeCase}}_valid_values.indexOf({{$prefix}}['{{$property.ID}}']) === -1){
            throw new SDKError.ParameterValueNotAllowed(
            '{{$property.ID}}',
            {{$prefix}}['{{$property.ID}}'],
            {{$property.ID | snakeCase}}_valid_values
            )
        }
    }
    {{- end}}
    {{- end}}
    {{- end}}
    {{- end}}
{{- end}}

{{define "BuildRequest"}}
    {{- $belongs := index . 0}}
    {{- $operation := index . 1}}
    {{$opID := replace $operation.ID "Bucket" "" -1}}

    {{- $hasParams := gt (len $operation.Request.Query.Properties) 0}}
    {{- $hasHeaders := gt (len $operation.Request.Headers.Properties) 0}}
    {{- $hasElements := gt (len $operation.Request.Elements.Properties) 0}}
    {{- $hasStringBody := eq $operation.Request.Body.Type "string"}}
    {{- $hasBinaryBody := eq $operation.Request.Body.Type "binary"}}
    {{- $hasInput := or $hasParams $hasHeaders $hasElements $hasStringBody $hasBinaryBody}}

    /**
     {{- if ne $belongs "QingStor"}}
     * {{$opID | camelCase | lowerFirst}}Request: Build {{$opID}}'s request
     {{- end}}
     {{- if eq $belongs "QingStor"}}
     * {{$operation.ID | camelCase | lowerFirst}}Request: Build {{$operation.ID}}'s request
     {{- end}}
     {{- if $operation.DocumentationURL}}
     * @link {{$operation.DocumentationURL}} Documentation URL
     {{- end}}
     {{- if $hasInput}}
     * @param {Object} options - User input options;
     {{- end}}
     {{- range $id, $property := $operation.Request.Headers.Properties}}
     * @param options.{{$property.ID}} - {{$property.Description}}
     {{- end}}
     {{- range $id, $property := $operation.Request.Query.Properties}}
     * @param options.{{$property.ID}} - {{$property.Description}}
     {{- end}}
     {{- range $id, $property := $operation.Request.Elements.Properties}}
     * @param options.{{$property.ID}} - {{$property.Description}}
     {{- end}}
     {{- if eq $belongs "Object"}}
     * @param object_key The object key
     {{- end}}
     *
     * @return Signer
     */
    {{- if ne $belongs "QingStor"}}
    {{$opID | camelCase | lowerFirst}}Request(
    {{- end}}
    {{- if eq $belongs "QingStor"}}
    {{$operation.ID | camelCase | lowerFirst}}Request(
    {{- end}}
        {{- if eq $belongs "Object"}}object_key{{end -}}
        {{- if and (eq $belongs "Object") $hasInput}},{{end -}}
        {{- if $hasInput}}options={}{{end -}}
        ) {
        {{- $uri := $operation.Request.Path}}
        {{- $uri := replace $uri "{" "<" -1}}
        {{- $uri := replace $uri "}" ">" -1}}
        {{- $uri := dashConnected $uri}}
        let operation = {
            'api': '{{$operation.ID}}',
            'method': '{{$operation.Request.Method}}',
            'uri': '{{$uri}}',
            'params': {
                {{range $id, $property := $operation.Request.Query.Properties}}'{{$property.Name}}': options['{{$property.ID}}'] || undefined,
                {{end -}}
            },
            'headers': {
                {{- if ne $belongs "QingStor"}}
                'Host': this.properties.zone+'.'+this.config.host,
                {{- end}}
                {{- if eq $belongs "QingStor"}}
                'Host': this.config.host,
                {{- end}}
                {{range $id, $property := $operation.Request.Headers.Properties}}'{{$property.Name}}': options['{{$property.ID}}'] || undefined,
                {{end -}}
            },
            'elements': {
                {{range $id, $property := $operation.Request.Elements.Properties}}'{{$property.Name}}': options['{{$property.ID}}'] || undefined,
                {{end -}}
            },
            {{- if ne $belongs "QingStor"}}
            'properties': this.properties,
            {{- end}}
            {{- if eq $belongs "QingStor"}}
            'properties': {},
            {{- end}}
            'body': {{if $operation.Request.Body.Type}}options['body'] || undefined{{else}}undefined{{end}}
        };
        {{- if eq $belongs "Object"}}
        operation.properties['object-key'] = object_key;
        {{- end}}
        {{- if ne $belongs "QingStor"}}
        this.{{$opID | camelCase | lowerFirst}}Validate(operation);
        {{- end}}
        {{- if eq $belongs "QingStor"}}
        this.{{$operation.ID | camelCase | lowerFirst}}Validate(operation);
        {{- end}}
        return new Request(this.config, operation).build();
    }
{{end}}

{{define "BuildOperation"}}
    {{- $belongs := index . 0}}
    {{- $operation := index . 1}}
    {{$opID := replace $operation.ID "Bucket" "" -1}}

    {{- $hasParams := gt (len $operation.Request.Query.Properties) 0}}
    {{- $hasHeaders := gt (len $operation.Request.Headers.Properties) 0}}
    {{- $hasElements := gt (len $operation.Request.Elements.Properties) 0}}
    {{- $hasStringBody := eq $operation.Request.Body.Type "string"}}
    {{- $hasBinaryBody := eq $operation.Request.Body.Type "binary"}}
    {{- $hasInput := or $hasParams $hasHeaders $hasElements $hasStringBody $hasBinaryBody}}

    /**
     {{- if ne $belongs "QingStor"}}
     * {{$opID | camelCase | lowerFirst}}: {{$operation.Description}}
     {{- end}}
     {{- if eq $belongs "QingStor"}}
     * {{$operation.ID | camelCase | lowerFirst}}: {{$operation.Description}}
     {{- end}}
     {{- if $operation.DocumentationURL}}
     * @link {{$operation.DocumentationURL}} Documentation URL
     {{- end}}
     {{- if $hasInput}}
     * @param {Object} options - User input options;
     {{- end}}
     {{- range $id, $property := $operation.Request.Headers.Properties}}
     * @param options.{{$property.ID}} - {{$property.Description}}
     {{- end}}
     {{- range $id, $property := $operation.Request.Query.Properties}}
     * @param options.{{$property.ID}} - {{$property.Description}}
     {{- end}}
     {{- range $id, $property := $operation.Request.Elements.Properties}}
     * @param options.{{$property.ID}} - {{$property.Description}}
     {{- end}}
     {{- if eq $belongs "Object"}}
     * @param object_key The object key
     {{- end}}
     * @param callback Callback function
     *
     * @return none
     */
    {{- if ne $belongs "QingStor"}}
    {{$opID | camelCase | lowerFirst}}(
    {{- end}}
    {{- if eq $belongs "QingStor"}}
    {{$operation.ID | camelCase | lowerFirst}}(
    {{- end}}
        {{- if eq $belongs "Object"}}object_key,{{end -}}
        {{- if $hasInput}}options, {{end -}}callback) {
        {{- if $hasInput}}
        if (isFunction(options)){
          callback = options;
          options = {};
        }
        {{- end}}
        {{- if ne $belongs "QingStor"}}
        return this.{{$opID | camelCase | lowerFirst}}Request(
        {{- end}}
        {{- if eq $belongs "QingStor"}}
        return this.{{$operation.ID | camelCase | lowerFirst}}Request(
        {{- end}}
            {{- if eq $belongs "Object"}}object_key{{end -}}
            {{- if and (eq $belongs "Object") $hasInput}},{{end -}}
            {{- if $hasInput}}options{{end -}}).sign().send(callback);
    }
{{end}}

{{define "RenderOperation"}}
{{- $belongs := index . 0}}
{{- $operation := index . 1}}
{{- $customizedTypes := index . 2}}
{{- template "BuildRequest" passThrough $belongs $operation}}
{{- template "BuildOperation" passThrough $belongs $operation}}
{{- template "RenderInputValidation" passThrough $belongs $operation $customizedTypes}}
{{end}}
