{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "> 5%",
          "node": "10"
        },
        "modules": "umd"
      }
    ]
  ],
  "plugins": [
    "add-module-exports"
  ]
}
