{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "> 5%"
          ],
          "node": [
            "4"
          ]
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    "add-module-exports"
  ]
}
