{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "> 5%",
          "node": "6"
        },
        "loose": true,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "add-module-exports"
  ]
}
