var qingstor_config = {
  "access_key_id": "test_access_key_id",
  "secret_access_key": "test_secret_access_key",
  "host": "qingstor.com",
  "port": 443,
  "protocol": "https",
  "connection_retries": 3,
  "log_level": "debug"
}
